In [1]:
sayi = 7
faktöriyel = 1

while sayi > 0:
    faktöriyel = sayi * faktöriyel
    sayi -= 1
    
    
print(faktöriyel)

5040

RANGE

In [2]:
#range aslında aralıktaki tam sayıları bulmamızı sağlayan bir komut
range(10) # açılımı 0,1,2,3,4,5,6,7,8,9

range(0, 10)

In [3]:
#range bir veri tipidir
type(range(10))

range

In [7]:
#aynı zamanda listeye de benzer
liste = [1,2,4,5,6] 
print(range(7))
print(liste)

range(0, 7)
[1, 2, 4, 5, 6]

In [8]:
#diğer bir yazılışı
list(range(10)) #range liste şekilde yazılmasını istediğim için int de olduğu gibi list şekilde list tipinde yazabilirim

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
type(list(range(10)))

list

In [11]:
[*range(10)] # bu aslında list(range(10)) demektir

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
[*range(2,9)]

[2, 3, 4, 5, 6, 7, 8]

***********************************************************************************

ündex = 0
x = 5
while 4 > 0:
    print(range(5)[ündex])
    ündex += 1

In [20]:
for sayi in range(10):
    print(sayi)

0
1
2
3
4
5
6
7
8
9

*****************************************************************

ENUMERATE

In [21]:
#enumerate aslında index kolaylığıdır.

#örneğin for döngülerinde şu şekilde 
# 1. Adı Efe Soyadı Şerafettin  / burada hem index yani sayıyı hem de ismi ayarlıyordur enumerate bunu kolaylaştırıyor

isimler = ["Allihsan Can","Efe Şerafettin","Selman Goksu","Mustafa Yıldız","Emine Kara"]

for isim in isimler:
    print(isim)

Allihsan Can
Efe Şerafettin
Selman Goksu
Mustafa Yıldız
Emine Kara

In [22]:
for isim in enumerate(isimler):
    print(isim)

(0, 'Allihsan Can')
(1, 'Efe Şerafettin')
(2, 'Selman Goksu')
(3, 'Mustafa Yıldız')
(4, 'Emine Kara')

In [23]:
# ya da 

for index , isim in enumerate(isimler):
    print(index , isim)

0 Allihsan Can
1 Efe Şerafettin
2 Selman Goksu
3 Mustafa Yıldız
4 Emine Kara

*********************************************************************

ZİP

In [27]:
#zip aslında aynı uzunlukta olan iterable yani içinde dolaşılabilir türleri birleştirir
ülkeler = ["tr","fr","alm"]
sıralar  = [1,2,3]
range(1,4)

for ülke in zip(range(1,4),ülkeler):
    print(ülke)

(1, 'tr')
(2, 'fr')
(3, 'alm')

In [28]:
for ülke in zip(sıralar,ülkeler):
     print(ülke)

(1, 'tr')
(2, 'fr')
(3, 'alm')

************************************************************************

In [30]:
numbers = []
for x in range(10):
    numbers.append(x)

In [31]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
numbers1 = [x**2 for x in range(10)] 
numbers1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
numbers2 = []
for x in range(10):
    numbers2.append(x**2)
numbers2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
names = ['Alice', 'Bob', 'Charlie']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Alice 24
1 Bob 50
2 Charlie 18

In [41]:
for i, t in enumerate(zip(names, ages)):
    print(i,t)

0 ('Alice', 24)
1 ('Bob', 50)
2 ('Charlie', 18)

In [38]:
for i, t in enumerate(zip(names, ages)):
    print(i, t[0], t[1])

0 Alice 24
1 Bob 50
2 Charlie 18